:root {
  --home-color: #423e6e;
  --about-color: #ffbf00;
  --contact-color: #2bdfbb;
  --services-color: #e24161;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  background-color: #ffffff;
  display: block;
  margin: 0;
  padding: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.view {
  color: #ffffff;
  height: 100vh;
  padding: 40px;
  position: relative;
  width: 100%;
}

.view__title {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}

.home ,
.legend__item--home .legend__bg {
  background-color: var(--home-color);
}

.about,
.legend__item--about .legend__bg {
  background-color: var(--about-color);
}

.contact,
.legend__item--contact .legend__bg {
  background-color: var(--contact-color);
}

.services,
.legend__item--services .legend__bg {
  background-color: var(--services-color);
}

.percentage {
  height: 200px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
}

.percentage__value {
  font-size: 160px;
}

.percentage__extension {
  font-size: 50px;
}

.sub {
  display: block;
  font-size: 24px;
  letter-spacing: 2px;
}

.legend {
  background-color: #ffffff;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.legend__bg {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  z-index: 2;
}

.legend__item {
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.21);
}

.legend__title {
  position: relative;
  z-index: 3;
}

.legend__item--home {
  z-index: 10;
}

.legend__item--about {
  z-index: 9;
}

.legend__item--contact {
  z-index: 8;
}

.legend__item--services {
  z-index: 7;
}
